<!DOCTYPE html>
<!-- 改定1 2026/04/09 -->
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mt.FUJI PARAGLIDING</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <h1>Mt.FUJI PARAGLIDING</h1>

  <div class="menu">
    <!-- <a href="/login">ログイン</a> -->
    <a href="/apply_flyer" class="btn" target="_self">フライヤー申請</a>
    <a href="/apply_io" class="btn" target="_self">入下山</a>
    <a href="/apply_exp_select" class="btn" target="_self">体験申込</a>
    <a href="/apply_cont_tan" class="btn" target="_self">請負日報/出勤可否入力</a>
    <a href="/apply_cont_qr" class="btn" target="_self">請負フライト入力</a>
    <a href="/apply_staff_manage" class="btn" target="_self">スタッフ管理</a>
  </div>
</body>
</html>
