<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mt.FUJI PARAGLIDING</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
  <h1>Mt.FUJI PARAGLIDING</h1>

  <div class="menu">
    <!-- <a href="/login">ログイン</a> -->
    <a href="/apply" class="btn" target="_self">会員申込<br>（新規）</a>
    <a href="/apply_a" class="btn" target="_self">Aコース申込<br>（新規）</a>
    <a href="/apply_v" class="btn" target="_self">ビジター<br>申込</a>
    <a href="/apply_club" class="btn" target="_self">クラブ入会<br>案内</a>

    <a href="/apply_upd" class="btn" target="_self">会員/ビジター<br>情報更新</a>
    <a href="/apply_io" class="btn" target="_self">入下山</a>
    <a href="/apply_cont_work" class="btn" target="_self">請負出勤可否<br>予定入力</a>
    <a href="/apply_cont_tan" class="btn" target="_self">請負日報<br>入力</a>

    <a href="/apply_exp" class="btn" target="_self">体験申込</a>
    <a href="/apply_exp_e" class="btn" target="_self">体験申込<br>(ENG)</a>
    <a href="/apply_cont_info" class="btn" target="_self">●請負管理</a>
    <a href="/apply_info" class="btn" target="_self">●個人情報管理</a>

    <a href="/apply_io_info" class="btn_1" target="_self">●入下山情報<br>（未）</a>
    <a href="/apply_exp_cnt" class="btn_1" target="_self">●当日体験情報<br>（未）</a>
    <a href="/apply_exp_resv" class="btn_1" target="_self">●体験予約<br>（未）</a>
    <a href="/apply_exp_info" class="btn_1" target="_self">●体験予約状況<br>（未）</a>

    <!-- <a href="/apply_cont_work_info" class="btn_1" target="_self">●請負出勤可否<br>状況（未）</a> -->
    <!-- <a class="btn_1" target="_self"></a> -->
  </div>
</body>
</html>
