<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <title>エリア会員 申込書</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_mem.css') }}">
    <!-- <script src="{{ url_for('static', filename='app_mem.js') }}"></script> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap">
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
  </head>

  <body>
    <form id="entryForm">
      <div class="sheet">
        <h1>エリア会員　申込書</h1>
        <table>
          <th>申込日</th>
          <td colspan="3"><input type="text" class="js-date" id="application_date" name="application_date"></td>
        </table>

        <table>
          <tr>
            <th>氏名</th>
            <td><input type="text" id="fullName" name="full_name"></td>
            <th>ふりがな</th>
            <td><input type="text" name="furigana"></td>
          </tr>
          <tr>
            <th>性別</th>
            <td>
              <select name="gender">
                <option value="" selected>-- 選択してください --</option>
                <option value="男">男</option>
                <option value="女">女</option>
              </select>
            </td>
            <th>血液型</th>
            <td>
              <select name="blood_type">
                <option value="" selected>-- 選択してください --</option>
                <option value="A">Ａ</option>
                <option value="B">Ｂ</option>
                <option value="O">Ｏ</option>
                <option value="AB">ＡＢ</option>
                <option value="不明">不明</option>
              </select>
            </td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td><input type="text" class="js-date" id="birthday" name="birthday"></td>
            <th>年齢</th>
            <td><input type="text" id="age" readonly></td>
          </tr>
          <tr>
            <th>郵便番号</th>
            <td><input type="text" id="zip1" name="zip1" maxlength="3" inputmode="numeric" style="width: 60px;"> - 
                <input type="text" id="zip2" name="zip2" maxlength="4" inputmode="numeric" style="width: 80px;"></td>
            <th>体重（kg）</th>
            <td><input type="text" id="weight" name="weight"></td>
          </tr>
          <tr>
            <th>住所</th>
            <td colspan="3"><input type="text" id="address" name="address"></td>
          </tr>
          <tr>
            <th>携帯電話</th>
            <td><input type="text" name="mobile_phone"></td>
            <th>自宅電話</th>
            <td><input type="text" name="home_phone"></td>
          </tr>
          <tr>
            <th>勤務先名</th>
            <td><input type="text" name="company_name"></td>
            <th>電話番号（勤務先）</th>
            <td><input type="text" name="company_phone"></td>
          </tr>
          <tr>
            <th>緊急連絡先氏名</th>
            <td><input type="text" name="emergency_name"></td>
            <th>電話番号（緊急時）</th>
            <td><input type="text" name="emergency_phone"></td>
          </tr>
          <tr>
            <th>本人との続柄</th>
            <td><input type="text" id="relationship" name="relationship"></td>
            <th>e-mail</th>
            <td><input type="text" id="email" name="email"></td>
          </tr>
          <tr>
            <th>傷病履歴</th>
            <td colspan="3"><textarea name="medical_history" placeholder="（脱臼・骨折癖・骨折後数週間など、その他持病があれば事前に記載して下さい）"></textarea></td>
          </tr>
        </table>

        <table>
          <tr>
            <th>フライヤー登録No</th>
            <td><input type="text" id="reg_no" name="reg_no"></td>
            <th>登録期限</th>
            <td><input type="text" class="js-date" id="reglimit_date" name="reglimit_date"></td>
          </tr>
          <tr>
            <th>技能証</th>
            <!-- <td><input type="text" id="license" name="license"></td> -->
            <td>
              <select name="license" id="license">
                <option value="" selected>-- 選択してください --</option>
                <option value="A">Ａ</option>
                <option value="B">Ｂ</option>
                <option value="NP">ＮＰ</option>
                <option value="P">Ｐ</option>
                <option value="XC">ＸＣ</option>
                <!-- <option value="T">タンデム</option> -->
                <!-- <option value="AT">上級タンデム</option> -->
              </select>
            </td>
            <th>リパック日</th>
            <td><input type="text" class="js-date" id="repack_date" name="repack_date"></td>
          </tr>
        </table>
        
        <table>
          <tr>
            <td class="check">
              <input type="radio" id="schooling" name="course_type" value="schooling">
            </td>
            <td class="label_1">
              <label for="schooling">スクーリング</label>
            </td>
            <td class="label_2">コース：</td>
            <td>
              <select name="course_name" id="course_name">
                <option value="" selected>-- 選択してください --</option>
                <!-- <option value="A">Ａ</option> -->
                <option value="B">Ｂ</option>
                <option value="NP">ＮＰ</option>
                <option value="P">Ｐ</option>
                <option value="XC">ＸＣ</option>
                <option value="T">タンデム</option>
                <option value="AT">上級タンデム</option>
              </select>
            </td>
            <td class="label_2">コース料金：</td>
            <td>
              <input type="text" name="course_fee" id="course_fee">
            </td>
          </tr>
          <tr>
            <td class="check">
              <input type="radio" id="freeflight" name="course_type" value="freeflight">
            </td>
            <td colspan="3">
              <label for="freeflight">フリーフライトメンバー会員（年会費 ¥44,000）</label>
            </td>
            <td class="label_2">使用機体：</td>
            <td>
              <input type="text" name="glider_name" id="glider_name">
            </td>
          </tr>
        </table>

        <div class="rules">
          <strong>◎エリア規定</strong>
          ・必ず入山・下山チェック表に記入し、許可を受けずにフライトしないでください。<br>
          ・フライトはスタッフの指示に従って行いましょう。<br>
          ・Tバックルのハーネスを使用し、レスキューセットを携帯してフライトしてください。<br>
          ・アウトサイドした場合は、被害の有無に関わらず申告してください。<br>
          ・山火事防止のために、山中でのタバコ・焚き火は禁止です。<br>
          ・農作物や草木の採取はしないこと。<br>
          ・会員がゲレンデのみ使用する場合も、エリア管理費及び施設・保険料が必要です。<br>
          ・エリア内でのパラグライダー用品の売買を禁じます。<br>
          ・会員・非会員を問わず、エリアを使用しての営業はしないでください。（タンデム・体験・スクール講習など）<br>
          ・エリア会員とは、原則としてＴＨＰホールディング株式会社または(有)さんじゅうでキャノピー、ハーネス等を購入していただくお客様の特典ですが、
          初年度は他校にて購入された機材の持ち込みでの登録も可能です。（別途持込料が必要になります）
          また、その他所購買物をＴＨＰホールディング株式会社または(有)さんじゅうが経営するエリアにおいて永続的に使用する場合には、２年目以降も更新できます。<br>
          　（持込料（税込）：グライダー：71,500円　ハーネス：44,000円）<br>
          ・ご購入されたフライトチケットは、いかなる場合も払い戻しには応じられません。<br>
          ・会社の都合により、予告なく定休日を設ける場合もあります。ご了承ください。<br>
          <strong>以上を守れない場合には、エリアの使用を禁じます。</strong><br>
        </div>

        <div class="agreement">
          <strong>参加誓約書</strong><br>
          私、<span id="agreeName" class="handwrite">　　　　　　　</span>は、パラグライダー飛行に伴う危険性を理解し、定められた規則を遵守します。
          ＴＨＰホールディング株式会社が経営するフライトエリア内において、私自身に生じたいかなる障害及び損害に対し、
          予測可能か否かに問わず私自身が全責任を負うものとし、私及び私の家族や関係者は私に発生した障害及び損害の補償に関しては、損害保険の範囲とし、
          当スクール関係者に対してその他の責任追及及、損害請求を一切致しません。<br>
          またエリア会員規定に基づき、規約に違反した場合、もしくはＴＨＰホールディング株式会社に対して不利益をもたらした場合、会員資格の無効化及び
          退会を申し渡されても、異議申し立て、損害賠償請求、それらにに類似した行為を一切致しません。<br><br>
          <table>
            <tr>
              <th>確認日</th>
              <td><input type="text" class="js-date" id="agreement_date" name="agreement_date"></td>
              <th>本人署名</th>
              <td><input type="text" name="signature_name"></td>
            </tr>
            <tr>
              <th>保護者氏名（20歳未満）</th>
              <td colspan="3"><input type="text" name="guardian_name"></td>
            </tr>
          </table>
        </div>
      </div>
      <input type="hidden" name="member_type" value="会員">

      <div class="buttons">
        <button type="button" id="submitBtn">申 請</button>
        <button type="button" id="exitBtn">終 了</button>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="{{ url_for('static', filename='app_mem.js') }}"></script>
  </body>
</html>
